.works {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.header {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #182223;
    margin-bottom: 13px;
}

.title {
    color: #fff;
    background-color: #182223;
    width: max-content;
    border-radius: 10px;
    padding: 9px 5px 0 5px;
    margin-bottom: 30px !important;
}

.text {
    margin-top: 1em;
}