.skills {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.title {
    font-size: 55px !important;
    color: #fff;
    background-color: #182223;
    width: max-content;
    border-radius: 10px;
    padding: 9px 5px 0 5px;
    margin-bottom: 30px !important;
}

.name {
    width: max-content;
    border-bottom: 2px solid #182223;
    margin-bottom: 10px !important;
}