@import url("../../styles/pallete.less");
@import url("../../styles/font-size.less");

.header {
 background-color: @pallete-black;
 padding: 40px;
 display: flex;
 flex-direction: column;
 gap: 20px;

 * {
  color: @pallete-background !important;
 }

 &-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 6px;

  @media (width<=636px) {
   justify-content: center;
  }

  &-info {
   flex: 3;
   display: flex;
   flex-direction: column;
   gap: 16px;

   &-section {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-pdf {
     @media print {
      display: none !important;
     }
    }

    &-languages {
     align-items: flex-start !important;

     ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 8px;
     }
    }

    h4 {
     margin: 0 0 4px 0;
     font-size: 14px;
     font-weight: 600;
    }

    span {
     display: flex;
     align-items: center;
     gap: 8px;

     svg {
      width: 20px !important;
      height: 20px !important;

      path {
       width: inherit !important;
      }
     }

     a {
      text-align: left !important;
     }
    }
   }
  }

  &-container {
   flex: 1;
   min-width: 257px;
   height: 300px;
   border-radius: @border-radius;
   overflow: hidden;

   @media (width<=636px) {
    display: none;
   }

   &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 16px;
    transform: scale(1.3);
   }
  }
 }

 &-about-me {
  border-radius: @border-radius @border-radius 3px 3px;
  margin: 0 -30px -30px;
  padding: 10px;
  background-color: @pallete-background;
  display: flex;
  flex-direction: column;
  gap: 8px;

  * {
   color: @pallete-black !important;
  }
 }
}
